body {
    font-size: 1.2em;
    color: white;
    background-image: url("../img/pink.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: white;
    width: 100%;
}

#logo {
    position: absolute;
    margin: auto;
    display: inline-block;
    top: 15%;
    left: 33.75%;
    margin: auto;background-image: url("../img/logo2.png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 50%;
    width: 30%;
    overflow: hidden;
    white-space: nowrap;
    float: left;
    margin: auto;
}
