body {
    font-size: 1.2em;
    color white;
    padding: 2.5%;
    background-image: url("../img/pink.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: white;
    width: 80%;
}

#mainLogo {
    background-image: url("../img/logo2.png");
    background-size: 100%;
    background-repeat: no-repeat;
    display: block;
    height: 336px;
    width: 576px;
    overflow: hidden;
    white-space: nowrap;
    float: left;
    margin: auto;
}
