body {
    font-size: 1.2em;
    color: black;
    background-image: url("../img/pink.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: white;
    height: 100%;
	width: 100%;
	overflow: hidden;	
}

.logo {
    margin: auto;
    display: block;
	background-image: url("../img/logo2.png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 30%;
    width: 25%;
	margin-top: 2.5%;
}

#tutBox, #tutBox2, #tutBox3, #tutBox4, #tutBox5, #tutBox6, #tutBox7, #tutBox8, #tutBox9 {
	color: white;
	margin: auto;
	display: block;
	background-color: orange;
	width: 60%;
	margin-top: 2.5%;
	padding: 2em;
	text-align: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 0px;
	border: 2px solid orange;
}

#skipButton {
	margin: auto;
	display: block;
	background-color: orange;
	width: 100px;
	margin-top: 2.5%;
	padding-top: 1.25em;
	text-align: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border: 2px solid orange;
	border-radius: 0px;
}

#arrow {
	top: 40%;
	right: 175px;
	color: white;
	position: absolute;
	background-color: orange;
	width: 100px;
	margin-top: 2.5%;
	padding-top: 1.25em;
	text-align: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border: 2px solid orange;
	border-radius: 0px;
}

#skipButton:hover, #arrow:hover, #tutRightArrow, #tutLeftArrow, #helperButton:hover  {
	background-color: #FFB071;
}

#tutRightArrow, #tutRightArrow2, #tutRightArrow3, #tutRightArrow4, #tutRightArrow5, #tutRightArrow6, #tutRightArrow7, #tutRightArrow8, #tutRightArrow9 {
	top: 40%;
	right: 175px;
	color: white;
	position: absolute;
	background-color: orange;
	width: 100px;
	margin-top: 2.5%;
	padding-top: 1.25em;
	text-align: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border: 2px solid orange;
	border-radius: 0px;
}

#tutLeftArrow, #tutLeftArrow2, #tutLeftArrow3, #tutLeftArrow4, #tutLeftArrow5, #tutLeftArrow6, #tutLeftArrow7, #tutLeftArrow8, #tutLeftArrow9 {
	top: 40%;
	left: 175px;
	color: white;
	position: absolute;
	background-color: orange;
	width: 100px;
	margin-top: 2.5%;
	padding-top: 1.25em;
	text-align: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border: 2px solid orange;
	border-radius: 0px;
}

.helper {
	height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(134, 1, 153);
    background-color: rgba(134, 1, 153, 0.95);
    overflow-x: hidden;
    transition: 0.5s;
}

.help-content {
	margin: auto;
	color: white;
	position: relative;
	top: 5%;
	width: 600px;
	text-align: center;
	margin-bottom: 100px;
}

.helper a {
	padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: white;
    display: block;/
    transition: 0.3s;
}

.helper a:hover, .helper a:focus {
    color: orange;
}

.helper .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

#helperButton {
	color: white;
	background-color: orange;
	text-align: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border: 2px solid orange;
	top: 95.80%;
	right: 5%;
	width: 110%;
	color: white;
	position: relative;
}
